{% extends "base.html" %}
{% load static %}
{% load partials %}



{% block content %}

<section id="about" class="s-about">

        <div class="horizontal-line"></div>

        <div class="row">
            <div class="column large-12">

                <div class="section-title" data-num="01" data-aos="fade-up">
                    <h3 class="h6">For Vendors</h3>
                </div>

            </div>

            <div class="column large-6 w-900-stack s-about__intro-text">
                <h1 class="display-1" data-aos="fade-up">
                    If you’re a weevil with a product or service to vend, register with us via the “create a stall” section.
                </h1>

                <p class="lead" data-aos="fade-up">
                    Listing products on the site is free, and there’s only a 10% fee deducted off the listed price whenever you make a sale.
                    This is for purposes of maintaining this initiative’s operations.
                </p>
            </div>

            <div class="column large-6 w-900-stack s-about__photo-block">
                <div class="s-about__photo" data-aos="fade-up"></div>
            </div>
        </div>

        <div class="row">
            <div class="column large-12">

                <div class="section-title" data-num="02" data-aos="fade-up">
                    <h3 class="h6">For shoppers & prospective buyer</h3>
                </div>

            </div>

            <div class="column large-6 w-900-stack s-about__intro-text">
                <h1 class="display-1" data-aos="fade-up">
                    To purchase any product from any store or refer prospective buyers, is as simple as browsing the categories of products, and choosing a preferred stall, or better yet opting for a trending section listed as “most frequented.
                </h1>

                <p class="lead" data-aos="fade-up">
                    There is also an option to reach out with an inquiry/query to a stall proprietor, 
                    or to even make suggestions of prospective products in a section or stall.
                </p>
            </div>

            <div class="column large-6 w-900-stack s-about__photo-block">
                <div class="s-about__photo" data-aos="fade-up"></div>
            </div>
        </div>

        
    </section> <!-- end s-about -->





{% endblock %}
