{% extends "base.html" %}
{% load static %}
{% load partials %}



{% block content %}

<section id="portfolio" class="s-portfolio">

        <div class="row s-porfolio__top">
            <div class="column large-6 w-900-stack">
                <div class="section-title" data-num="01" data-aos="fade-up">
                    <h3 class="h6">{{category.name}}</h3>
                </div>
            </div>
            <div class="column large-6 w-900-stack">
                <h1 class="display-1" data-aos="fade-up">
                    Here are some of our stalls, made by smackists, with love.
                </h1>
            </div>
        </div> <!-- end s-portfolio__top-->

        <div class="row s-portfolio__list block-large-1-2 block-tab-full collapse">
            {% for stall in stalls %}
            {#use shop template partials #}
            {% url 'startups:stall' stall.id as stall_url %}
            {% with item=stall next=stall_url  %}
            {% include "partials/shop-templates.html"  %}
            {% endwith %}
            {% endfor %}
            </div> <!-- folio-list -->

    </section>



{% endblock %}
